*{
  margin: 0;
  padding: 0;
}

h1{
  color: white;
}

body{
  background-color: #3a424f;
}

.userBar{
  height: 100vh;
  width: 320px;
  background-color: #515c6e;
  display: flex;
  flex-direction: column;
}

.logo{
  background-color: #453073;
  padding: 10px;
  display: flex;
  align-items: center;
}

.chatLogo{
  margin-right: 10px;
  background-color: white;
  height: 2.5em;
  width: 2.5em;
  border-radius: 2000px;
}

.users_count{
  font-family: "Fa Solid";
  font-size: 20px;
  line-height: 2.5em;
  color: #8c97a9;
  background-color: #3a424f;
  text-align: center;
}

.users_container{
  background-color: #515c6e;
  height: auto;
  flex-grow: 1;
}

.user{
  font-family: "Fa Solid";
  display: flex;
  align-items: center;
  padding: 15px;
  padding-left: 25px;
  border-top: #8d98aa solid 2px;
  border-bottom: #8d98aa solid 2px;
  /* TODO: Решить проблему с рамками */
  -moz-box-sizing: content-box; /* Для Firefox */
  -webkit-box-sizing: content-box; /* Для Safari и Chrome */
  box-sizing: content-box;
}

.user>p{
  color: white;
  font-size: 20px;
  margin-left: 10px
}

.online{
  color: #a0d998;
}

.offline{
  color: #d57f79;
}

.clientProfile{
  background-color: #3a424f;
  display: flex;
  padding: 10px;
  margin-top: auto;
}

.clientAvatar{
  border: #453073 solid 2px;
  border-radius: 2000px;
  background-color: white;
  height: 50px;
  width: 50px;
}
